<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" href="/tabs/home">
            <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="transaction" href="/tabs/transaction">
            <ion-icon aria-hidden="true" name="swap-horizontal-outline"></ion-icon>
            <ion-label>Transaction</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="status" href="/tabs/status">
            <ion-icon aria-hidden="true" name="stats-chart-outline"></ion-icon>
            <ion-label>Status</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="account" href="/tabs/account">
            <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
            <ion-label>Account</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>