.summary-cards {
    display: flex;
    flex-direction: row;
    padding: 15px;

    ion-card {
        margin: 4px;
        flex: 1;
        text-align: center;
    }

    ion-card-header {
        ion-card-title {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

ion-item {
    --padding-start: 20px;
    --inner-padding-end: 20px;

    ion-icon {
        font-size: 20px;
        margin-right: 16px;
    }

    h2 {
        font-weight: 600;
        margin-bottom: 4px;
    }

    ion-badge {
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding-top: 5px;
        margin-top: 5px;
    }

    ion-note {
        font-size: 16px;
        font-weight: 500;
    }
}